/*
TODO change header font, background color for site (maybe different colors), pick new colors and styling, restaurant name
*/

body {
	background-color: #fef9ff;
	font-family: arial, helvetica, sans-serif;
	color: #0d1f2d;
	max-width: 900px;
	margin: 0 auto;
}
header,footer {
	background-color: #5b7d87;
	color: #fef9ff;
	height: 100px;
	text-align: center;
	padding: 30px 10px 20px 10px;
}
h1 {
	font-size: 2.5em;
}
nav {
	border-top: thin #5b7d87 solid;
    border-bottom: thin #5b7d87 solid;
    padding-top: 12px;
    padding-bottom: 12px;
    margin-top: 12px;
    margin-bottom: 12px;
}
nav .btn {
	background-color: #5b7d87;
    color: #fef9ff;
}
nav .btn:hover {
	font-weight: bold;
}
nav .btn:visited {
	color: #e4c3ad;
}
